/* UTILITIES */
    /* colors */
        /* backgrounds */
        .bg_1 {
            background-color: black;
        }



    /* sizes */
    .h_icon_1 {
        height: 13px;
    }


    /* spacing */
        /* padding */
        .py_11px {
            padding-block: 11px;
        }