/* UTILITIES */

    /* typo */
    nav {
        font-family: 'Helvetica', sans-serif ;
    }

    body {
        font-family: 'Arial', sans-serif;
    }

    .fsz_1rem {
        font-size: .75rem;
    }

    /* borders */
    .rounded_15 {
        border-radius: 20px;
    }
    /* colors */
        /* backgrounds */
        .bg_1 {
            background-color: black;
        }
        .bg_2 {
            background-color: #363636;
        }
        .bg_3 {
            background-color: #cd3d0f;
        }


    /* sizes */
        /* height */
        .h_icon_1 {
            height: 13px;
        }

        /* width */
        .w_fit {
            width: fit-content;
        }




    /* spacing */
        /* padding */
        .py_11px {
            padding-block: 11px;
        }
        .py_3px {
            padding-block: 3px;
        }

    /* buttons */
    .boo_btn {
        padding: 10px 14px;
        font-weight: 550;
    }





    /* flex */
        /* positioning */
        .justify_self_end {
            justify-self: flex-end;
        }

/* LAYOUT */
    /* header */

    .w_nav_mps {
        width: 140px;
    }

    /* hero */
    .hero {
        background-image: url('../img/jumbo-bg.png');
        background-size: cover;
        background-position: center;
        height: 592px;
    }

    /* games-list */
    .games_list ul li {
        list-style-type: none;
    }

    .box_outline:hover {
        box-shadow: 0px 0px 2px 3px rgba(0, 0, 250, 0.5);
    }

    .no-border {
        border: none;
    }